﻿@model CustomerManagement.Models.Branch

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-8">
    <h4>Details: Branch</h4>
    <hr />
    <table class="BlueGreen">
    <tr><th>Id</th><td>@Model.BranchId</td></tr>
    <tr><th>Name</th><td>@Model.Name</td></tr>
    <tr><th>Address</th><td>@Model.Address</td></tr>
    <tr><th>City</th><td>@Model.City</td></tr>
    <tr><th>State</th><td>@Model.State</td></tr>
    <tr><th>Zipcode</th><td>@Model.Zipcode</td></tr>
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BranchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
