﻿@model CustomerManagement.Models.Branch

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit: Branch</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BranchId" />
            
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" id="Name" type="text" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Address" class="form-control" id="Address" type="text" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="City" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="City" class="form-control" id="City" type="text" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="State" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="State" class="form-control" id="State" type="text" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Zipcode" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Zipcode" class="form-control" id="Zipcode" type="text" />
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
