﻿    @model IEnumerable<CustomerManagement.Models.Branch>

    @{
        ViewData["Title"] = "Index";
    }


    <h1 style="color: black; text-align: center;">CUSTOMER MANAGEMENT</h1>
    <hr />
    <p>
        <a class="btn btn-sm btn-danger" asp-action="Create">Add New</a>
    </p>
    <table id="tblBranches" class="BlueGreen" border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> |
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.BranchId">Details</a> |
                        <a class="btn btn-sm btn-danger" onclick="DeleteBranch('@item.BranchId')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>


    <script>
        var DeleteBranch = function (id) {
            Swal.fire({
                title: 'Do you want to delete this item?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "Branches/Delete?id=" + id,
                        success: function (result) {
                            console.log(result);
                            var message = "Branches has been deleted successfully. Branches ID: " + result.id;
                            Swal.fire({
                                title: message,
                                icon: 'info',
                                onAfterClose: () => {
                                    location.reload();
                                }
                            });
                        }
                    });
                }
            });
        };
    </script>